.card-content {
  border-radius: 3px 3px 0px 0px!important;
}
.contact-icon {
  font-size: 15px;
  padding-top: 4px;
}
.round-button {
  padding: 0px 8px;
  border-radius: 100%;
}
.no-margin {
  margin: 0px!important;
}
